<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Computer Building Company - Confirm Customer Quote Fulfillment</title>
    </head>
    <body>
        <div class="container-fluid my-2">
            <h1>Computer Building Company - Confirm Customer Quote Fulfillment</h1>
            <h2>Your quote is ready! You may accept or decline the quote.</h2>
            <form th:object="${customerQuoteFulfillment}" th:action="@{/fulfillments/update_fulfillment}" method="POST">
            <input type="hidden" th:field="*{part.id}">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{customerQuoteRequest.id}">
                <input type="hidden" th:field="*{motherboard.id}">
                <input type="hidden" th:field="*{cPU.id}">
                <input type="hidden" th:field="*{rAM.id}">
                <input type="hidden" th:field="*{gPU.id}">
                <input type="hidden" th:field="*{thermalCompound.id}">
                <input type="hidden" th:field="*{storageDevice.id}">
                <input type="hidden" th:field="*{pSU.id}">
                <input type="hidden" th:field="*{monitor.id}">
                <input type="hidden" th:field="*{keyboard.id}">
                <input type="hidden" th:field="*{totalCost}">
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Computer Needs</th>
                            <th>Budget</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{customerQuoteRequest.id}"></td>
                            <td th:text="*{customerQuoteRequest.firstName}"></td>
                            <td th:text="*{customerQuoteRequest.lastName}"></td>
                            <td th:text="*{customerQuoteRequest.email}"></td>
                            <td th:text="*{customerQuoteRequest.phoneNumber}"></td>
                            <td th:text="*{customerQuoteRequest.computerNeedsDescription}"></td>
                            <td th:text="*{customerQuoteRequest.budget}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Form Factor</th>
                            <th>Socket</th>
                            <th>Chipset</th>
                            <th>Memory Slots</th>
                            <th>PCI-E Slots</th>
                            <th>SATA Ports</th>
                            <th>M.2 Slots</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{motherboard.id}"></td>
                            <td th:text="*{motherboard.name}"></td>
                            <td th:text="*{motherboard.formFactor}"></td>
                            <td th:text="*{motherboard.socket}"></td>
                            <td th:text="*{motherboard.chipset}"></td>
                            <td th:text="*{motherboard.memorySlots}"></td>
                            <td th:text="*{motherboard.pCIESlots}"></td>
                            <td th:text="*{motherboard.sATAPorts}"></td>
                            <td th:text="*{motherboard.m2Slots}"></td>
                            <td th:text="*{motherboard.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>CPU Socket</th>
                            <th>Core Count</th>
                            <th>Thread Count</th>
                            <th>CPU Speed</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{cPU.id}"></td>
                            <td th:text="*{cPU.name}"></td>
                            <td th:text="*{cPU.brand}"></td>
                            <td th:text="*{cPU.cPUSocket}"></td>
                            <td th:text="*{cPU.coreCount}"></td>
                            <td th:text="*{cPU.threadCount}"></td>
                            <td th:text="*{cPU.cPUSpeed}"></td>
                            <td th:text="*{cPU.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Generation</th>
                            <th>Speed</th>
                            <th>Capacity</th>
                            <th>Sticks</th>
                            <th>Latency</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{rAM.id}"></td>
                            <td th:text="*{rAM.name}"></td>
                            <td th:text="*{rAM.generation}"></td>
                            <td th:text="*{rAM.speed}"></td>
                            <td th:text="*{rAM.capacity}"></td>
                            <td th:text="*{rAM.sticks}"></td>
                            <td th:text="*{rAM.latency}"></td>
                            <td th:text="*{rAM.price}"></td>
                        </tr>
                    </tbody>
                </table>
               	<table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Memory Type</th>
                            <th>Video Memory</th>
                            <th>PCI Express</th>
                            <th>Clock Speed</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{gPU.id}"></td>
                            <td th:text="*{gPU.name}"></td>
                            <td th:text="*{gPU.brand}"></td>
                            <td th:text="*{gPU.memoryType}"></td>
                            <td th:text="*{gPU.videoMemory}"></td>
                            <td th:text="*{gPU.pCIExpress}"></td>
                            <td th:text="*{gPU.clockSpeed}"></td>
                            <td th:text="*{gPU.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Material Base</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{thermalCompound.id}"></td>
                            <td th:text="*{thermalCompound.name}"></td>
                            <td th:text="*{thermalCompound.amount}"></td>
                            <td th:text="*{thermalCompound.materialBase}"></td>
                            <td th:text="*{thermalCompound.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Capacity</th>
                            <th>Read Speed</th>
                            <th>Write Speed</th>
                            <th>RPM</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{storageDevice.id}"></td>
                            <td th:text="*{storageDevice.name}"></td>
                            <td th:text="*{storageDevice.brand}"></td>
                            <td th:text="*{storageDevice.capacity}"></td>
                            <td th:text="*{storageDevice.readSpeed}"></td>
                            <td th:text="*{storageDevice.writeSpeed}"></td>
                            <td th:text="*{storageDevice.rPM}"></td>
                            <td th:text="*{storageDevice.price}"></td>
                        </tr>
                    </tbody>
                </table>
                
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Bit Rate</th>
                            <th>kHz</th>
                            <th>Max Decibels</th>
                            <th>Max Channels</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr>
                    		<td th:text="*{soundCard.id}"></td>
	                        <td th:text="*{soundCard.name}"></td>
	                        <td th:text="*{soundCard.bit_rate}"></td>
	                        <td th:text="*{soundCard.kHz}"></td>
	                        <td th:text="*{soundCard.max_db}"></td>
	                        <td th:text="*{soundCard.max_channels}"></td>
	                        <td th:text="*{soundCard.price}"></td>
                        </tr>
                    </tbody>
                </table>
                
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Form Factor</th>
                            <th>Modular</th>
                            <th>Efficiency Rating</th>
                            <th>Wattage</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{pSU.id}"></td>
                            <td th:text="*{pSU.name}"></td>
                            <td th:text="*{pSU.brand}"></td>
                            <td th:text="*{pSU.formFactor}"></td>
                            <td th:text="*{pSU.modular}"></td>
                            <td th:text="*{pSU.efficiencyRating}"></td>
                            <td th:text="*{pSU.wattage}"></td>
                            <td th:text="*{pSU.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Panel Type</th>
                            <th>Frame Sync</th>
                            <th>Screen Size</th>
                            <th>Resolution Width</th>
                            <th>Resolution Height</th>
                            <th>Refresh Rate</th>
                            <th>Response Time</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{monitor.id}"></td>
                            <td th:text="*{monitor.name}"></td>
                            <td th:text="*{monitor.brand}"></td>
                            <td th:text="*{monitor.panelType}"></td>
                            <td th:text="*{monitor.frameSync}"></td>
                            <td th:text="*{monitor.screenSize}"></td>
                            <td th:text="*{monitor.resolutionWidth}"></td>
                            <td th:text="*{monitor.resolutionHeight}"></td>
                            <td th:text="*{monitor.refreshRate}"></td>
                            <td th:text="*{monitor.responseTime}"></td>
                            <td th:text="*{monitor.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Style</th>
                            <th>Color</th>
                            <th>Backlit</th>
                            <th>Connection Type</th>
                            <th>Switch Type</th>
                            <th>Size Percent</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{keyboard.id}"></td>
                            <td th:text="*{keyboard.name}"></td>
                            <td th:text="*{keyboard.brand}"></td>
                            <td th:text="*{keyboard.style}"></td>
                            <td th:text="*{keyboard.color}"></td>
                            <td th:text="*{keyboard.backlit}"></td>
                            <td th:text="*{keyboard.connectionType}"></td>
                            <td th:text="*{keyboard.switchType}"></td>
                            <td th:text="*{keyboard.sizePercent}"></td>
                            <td th:text="*{keyboard.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Total Cost</th>
                            <th>Confirm?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{totalCost}"></td>
                            <td>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-success">
                                        <input type="radio" name="customerConfirmation" th:field="*{customerConfirmation}" th:value="true">Accept
                                    </label>
                                    <label class="btn btn-outline-danger">
                                        <input type="radio" name="customerConfirmation" th:field="*{customerConfirmation}" th:value="false">Decline
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-success col-2" type="submit">Submit Quote Fulfillment</button>
            </form>
            <a th:href="@{/fulfillments}">View Current Quote Fulfillments</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    </body>
</html>
