<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Computer Building Company - CPU Cooler List</title>
    </head>
    <body>
        <div class="container-fluid my-2">
            <h1>CPU Coolers</h1>
            <a th:href="@{/}" class="btn btn-outline-primary btn-sm mb-3">View quote requests</a>
            <a th:href="@{/motherboards}" class="btn btn-outline-secondary btn-sm mb-3">Motherboards</a>
            <a th:href="@{/cpus}" class="btn btn-outline-secondary btn-sm mb-3">CPU</a>
            <a th:href="@{/cpu_coolers/add_cpu_cooler}" class="btn btn-secondary btn-sm mb-3">Add a CPU Cooler</a>
            <a th:href="@{/thermal_compounds}" class="btn btn-outline-secondary btn-sm mb-3">Thermal Compounds</a>
            <a th:href="@{/ram}" class="btn btn-outline-secondary btn-sm mb-3">RAM</a>
            <a th:href="@{/gpus}" class="btn btn-outline-secondary btn-sm mb-3">GPUs</a>
            <a th:href="@{/storage_devices}" class="btn btn-outline-secondary btn-sm mb-3">Storage Devices</a>
            <a th:href="@{/sound_cards}" class="btn btn-outline-secondary btn-sm mb-3">Sound Cards</a>
            <a th:href="@{/psus}" class="btn btn-outline-secondary btn-sm mb-3">PSUs</a>
            <a th:href="@{/monitors}" class="btn btn-outline-secondary btn-sm mb-3">Monitors</a>
            <a th:href="@{/keyboards}" class="btn btn-outline-secondary btn-sm mb-3">Keyboards</a>
            <a th:href="@{/mice}" class="btn btn-outline-secondary btn-sm mb-3">Mice</a>
            <a th:href="@{/fulfillments}" class="btn btn-outline-primary btn-sm mb-3">View quote fulfillments</a>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>
                            <a th:href="@{'/cpu_coolers/page/' + ${cPUCoolerPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}}">ID</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpu_coolers/page/' + ${cPUCoolerPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">Name</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpu_coolers/page/' + ${cPUCoolerPage} + '?sortField=fanSize&sortDirection=' + ${reverseSortDirection}}">Fan Size</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpu_coolers/page/' + ${cPUCoolerPage} + '?sortField=connectorType&sortDirection=' + ${reverseSortDirection}}">Connector Type</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpu_coolers/page/' + ${cPUCoolerPage} + '?sortField=coolingType&sortDirection=' + ${reverseSortDirection}}">Cooling Type</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpu_coolers/page/' + ${cPUCoolerPage} + '?sortField=socketCompatibility&sortDirection=' + ${reverseSortDirection}}">Socket Compatibility</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpu_coolers/page/' + ${cPUCoolerPage} + '?sortField=price&sortDirection=' + ${reverseSortDirection}}">Price</a>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cPUCooler: ${cPUCoolers}">
                        <td th:text="${cPUCooler.id}"></td>
                        <td th:text="${cPUCooler.name}"></td>
                        <td th:text="${cPUCooler.fanSize}"></td>
                        <td th:text="${cPUCooler.connectorType}"></td>
                        <td th:text="${cPUCooler.coolingType}"></td>
                        <td th:text="${cPUCooler.socketCompatibility}"></td>
                        <td th:text="${cPUCooler.price}"></td>
                        <td>
                            <a th:href="@{/cpu_coolers/edit_cpu_cooler/{id}(id=${cPUCooler.id})}" class="btn btn-primary">Edit</a>
                            <a th:href="@{/cpu_coolers/delete_cpu_cooler/{id}(id=${cPUCooler.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${totalCPUCoolerPages > 1}">
                <div class="row col-sm-10">
                    <div class="col-sm-2">
                        Total CPU Coolers: [[${totalCPUCoolerItems}]]
                    </div>
                    <div class="col-sm-1">
                        <span th:each="i: ${#numbers.sequence(1, totalCPUCoolerPages)}">
                            <a th:if="${cPUCoolerPage != i}" th:href="@{'/cpu_coolers/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                            <span th:unless="${cPUCoolerPage != i}">[[${i}]]</span>&nbsp;&nbsp;
                        </span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${cPUCoolerPage < totalCPUCoolerPages}" th:href="@{'/cpu_coolers/page/' + ${cPUCoolerPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                        <span th:unless="${cPUCoolerPage < totalCPUCoolerPages}">Next</span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${cPUCoolerPage < totalCPUCoolerPages}" th:href="@{'/cpu_coolers/page/' + ${totalCPUCoolerPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                        <span th:unless="${cPUCoolerPage < totalCPUCoolerPages}">Last</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
