<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Computer Building Company - CPU List</title>
    </head>
    <body>
        <div class="container-fluid my-2">
            <h1>CPUs</h1>
            <a th:href="@{/}" class="btn btn-outline-primary btn-sm mb-3">View quote requests</a>
            <a th:href="@{/motherboards}" class="btn btn-outline-secondary btn-sm mb-3">Motherboards</a>
            <a th:href="@{/cpus/add_cpu}" class="btn btn-secondary btn-sm mb-3">Add a CPU</a>
            <a th:href="@{/ram}" class="btn btn-outline-secondary btn-sm mb-3">RAM</a>
            <a th:href="@{/gpus}" class="btn btn-outline-secondary btn-sm mb-3">GPUs</a>
            <a th:href="@{/thermal_compounds}" class="btn btn-outline-secondary btn-sm mb-3">Thermal Compounds</a>
            <a th:href="@{/storage_devices}" class="btn btn-outline-secondary btn-sm mb-3">Storage Devices</a>
            <a th:href="@{/sound_cards}" class="btn btn-outline-secondary btn-sm mb-3">Sound Cards</a>
            <a th:href="@{/cpu_coolers}" class="btn btn-outline-secondary btn-sm mb-3">CPU Coolers</a>
            <a th:href="@{/psus}" class="btn btn-outline-secondary btn-sm mb-3">PSUs</a>
            <a th:href="@{/monitors}" class="btn btn-outline-secondary btn-sm mb-3">Monitors</a>
            <a th:href="@{/keyboards}" class="btn btn-outline-secondary btn-sm mb-3">Keyboards</a>
            <a th:href="@{/fulfillments}" class="btn btn-outline-primary btn-sm mb-3">View quote fulfillments</a>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>
                            <a th:href="@{'/cpus/page/' + ${cPUPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}}">ID</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpus/page/' + ${cPUPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">Name</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpus/page/' + ${cPUPage} + '?sortField=brand&sortDirection=' + ${reverseSortDirection}}">Brand</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpus/page/' + ${cPUPage} + '?sortField=cPUSocket&sortDirection=' + ${reverseSortDirection}}">CPU Socket</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpus/page/' + ${cPUPage} + '?sortField=coreCount&sortDirection=' + ${reverseSortDirection}}">Core Count</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpus/page/' + ${cPUPage} + '?sortField=threadCount&sortDirection=' + ${reverseSortDirection}}">Thread Count</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpus/page/' + ${cPUPage} + '?sortField=cPUSpeed&sortDirection=' + ${reverseSortDirection}}">CPU Speed</a>
                        </th>
                        <th>
                            <a th:href="@{'/cpus/page/' + ${cPUPage} + '?sortField=price&sortDirection=' + ${reverseSortDirection}}">Price</a>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cPU: ${cPUs}">
                        <td th:text="${cPU.id}"></td>
                        <td th:text="${cPU.name}"></td>
                        <td th:text="${cPU.brand}"></td>
                        <td th:text="${cPU.cPUSocket}"></td>
                        <td th:text="${cPU.coreCount}"></td>
                        <td th:text="${cPU.threadCount}"></td>
                        <td th:text="${cPU.cPUSpeed}"></td>
                        <td th:text="${cPU.price}"></td>
                        <td>
                            <a th:href="@{/cpus/edit_cpu/{id}(id=${cPU.id})}" class="btn btn-primary">Edit</a>
                            <a th:href="@{/cpus/delete_cpu/{id}(id=${cPU.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${totalCPUPages > 1}">
                <div class="row col-sm-10">
                    <div class="col-sm-2">
                        Total CPUs: [[${totalCPUItems}]]
                    </div>
                    <div class="col-sm-1">
                        <span th:each="i: ${#numbers.sequence(1, totalCPUPages)}">
                            <a th:if="${cPUPage != i}" th:href="@{'/cpus/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                            <span th:unless="${cPUPage != i}">[[${i}]]</span>&nbsp;&nbsp;
                        </span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${cPUPage < totalCPUPages}" th:href="@{'/cpus/page/' + ${cPUPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                        <span th:unless="${cPUPage < totalCPUPages}">Next</span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${cPUPage < totalCPUPages}" th:href="@{'/cpus/page/' + ${totalCPUPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                        <span th:unless="${cPUPage < totalCPUPages}">Last</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
