<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Computer Building Company - Edit GPU</title>
    </head>
    <body>
        <div class="container">
            <h1>Computer Building Company - Edit GPU</h1>
            <h2>Edit the GPU.</h2>
            <form th:object="${gpu}" th:action="@{/gpus/update_gpu}" method="POST">
                <input type="hidden" th:field="*{id}">
                <input class="form-control mb-4 col-4" type="text" name="name" placeholder="GPU Name" size="128" th:field="*{name}">
                <input class="form-control mb-4 col-4" type="text" name="brand" placeholder="Brand" size="16" th:field="*{brand}">
                <input class="form-control mb-4 col-4" type="text" name="memoryType" placeholder="Memory Type" size="16" th:field="*{memoryType}">
                <input class="form-control mb-4 col-4" type="text" name="videoMemory" placeholder="Video Memory" size="16" th:field="*{videoMemory}">
                <input class="form-control mb-4 col-4" type="text" name="pcieExpress" placeholder="PCIE Express" size="16" th:field="*{pcieExpress}">
                <input class="form-control mb-4 col-4" type="text" name="clockSpeed" placeholder="Clock Speed" size="16" th:field="*{clockSpeed}">
                <input class="form-control mb-4 col-4" type="text" name="price" placeholder="Price" size="8" th:field="*{price}">
                <button class="btn btn-info col-2" type="submit">Update GPU</button>
            </form>
            <a th:href="@{/gpus}">View GPUs</a>
        </div>
    </body>
</html>