<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Computer Building Company - Edit CPU</title>
    </head>
    <body>
        <div class="container-fluid my-2">
            <h1>Computer Building Company - Edit CPU</h1>
            <h2>Edit the CPU.</h2>
            <form th:object="${cPU}" th:action="@{/cpus/update_cpu}" method="POST">
                <input type="hidden" th:field="*{id}">
                <input class="form-control mb-4 col-4" type="text" name="name" placeholder="CPU Name" size="128" th:field="*{name}">
                <input class="form-control mb-4 col-4" type="text" name="brand" placeholder="Brand" size="16" th:field="*{brand}">
                <input class="form-control mb-4 col-4" type="text" name="cPUSocket" placeholder="CPU Socket" size="16" th:field="*{cPUSocket}">
                <input class="form-control mb-4 col-4" type="text" name="coreCount" placeholder="Core Count" size="16" th:field="*{coreCount}">
                <input class="form-control mb-4 col-4" type="text" name="threadCount" placeholder="Thread Count" size="16" th:field="*{threadCount}">
                <input class="form-control mb-4 col-4" type="text" name="cPUSpeed" placeholder="CPU Speed" size="16" th:field="*{cPUSpeed}">
                <input class="form-control mb-4 col-4" type="text" name="price" placeholder="Price" size="8" th:field="*{price}">
                <button class="btn btn-info col-2" type="submit">Update CPU</button>
            </form>
            <a th:href="@{/cpus}">View CPUs</a>
        </div>
    </body>
</html>
