<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Computer Building Company - Monitor List</title>
    </head>
    <body>
        <div class="container-fluid my-2">
            <h1>Monitors</h1>
            <a th:href="@{/}" class="btn btn-outline-primary btn-sm mb-3">View quote requests</a>
            <a th:href="@{/motherboards}" class="btn btn-outline-secondary btn-sm mb-3">Motherboards</a>
            <a th:href="@{/cpus}" class="btn btn-outline-secondary btn-sm mb-3">CPUs</a>
            <a th:href="@{/cpu_coolers}" class="btn btn-outline-secondary btn-sm mb-3">CPU Coolers</a>
            <a th:href="@{/thermal_compounds}" class="btn btn-outline-secondary btn-sm mb-3">Thermal Compounds</a>
            <a th:href="@{/ram}" class="btn btn-outline-secondary btn-sm mb-3">RAM</a>
            <a th:href="@{/gpus}" class="btn btn-outline-secondary btn-sm mb-3">GPUs</a>
            <a th:href="@{/storage_devices}" class="btn btn-outline-secondary btn-sm mb-3">Storage Devices</a>
            <a th:href="@{/sound_cards}" class="btn btn-outline-secondary btn-sm mb-3">Sound Cards</a>
            <a th:href="@{/psus}" class="btn btn-outline-secondary btn-sm mb-3">PSUs</a>
            <a th:href="@{/monitors/add_monitor}" class="btn btn-secondary btn-sm mb-3">Add a monitor</a>
            <a th:href="@{/keyboards}" class="btn btn-outline-secondary btn-sm mb-3">Keyboards</a>
            <a th:href="@{/mice}" class="btn btn-outline-secondary btn-sm mb-3">Mice</a>
            <a th:href="@{/fulfillments}" class="btn btn-outline-primary btn-sm mb-3">View quote fulfillments</a>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}}">ID</a>
                        </th>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">Name</a>
                        </th>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=brand&sortDirection=' + ${reverseSortDirection}}">Brand</a>
                        </th>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=panelType&sortDirection=' + ${reverseSortDirection}}">Panel Type</a>
                        </th>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=frameSync&sortDirection=' + ${reverseSortDirection}}">Frame Sync</a>
                        </th>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=screenSize&sortDirection=' + ${reverseSortDirection}}">Screen Size</a>
                        </th>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=resolutionWidth&sortDirection=' + ${reverseSortDirection}}">Resolution Width</a>
                        </th>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=resolutionHeight&sortDirection=' + ${reverseSortDirection}}">Resolution Height</a>
                        </th>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=refreshRate&sortDirection=' + ${reverseSortDirection}}">Refresh Rate</a>
                        </th>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=responseTime&sortDirection=' + ${reverseSortDirection}}">Response Time</a>
                        </th>
                        <th>
                            <a th:href="@{'/monitors/page/' + ${monitorPage} + '?sortField=price&sortDirection=' + ${reverseSortDirection}}">Price</a>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="monitor: ${monitors}">
                        <td th:text="${monitor.id}"></td>
                        <td th:text="${monitor.name}"></td>
                        <td th:text="${monitor.brand}"></td>
                        <td th:text="${monitor.panelType}"></td>
                        <td th:text="${monitor.frameSync}"></td>
                        <td th:text="${monitor.screenSize}"></td>
                        <td th:text="${monitor.resolutionWidth}"></td>
                        <td th:text="${monitor.resolutionHeight}"></td>
                        <td th:text="${monitor.refreshRate}"></td>
                        <td th:text="${monitor.responseTime}"></td>
                        <td th:text="${monitor.price}"></td>
                        <td>
                            <a th:href="@{/monitors/edit_monitor/{id}(id=${monitor.id})}" class="btn btn-primary">Edit</a>
                            <a th:href="@{/monitors/delete_monitor/{id}(id=${monitor.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${totalMonitorPages > 1}">
                <div class="row col-sm-10">
                    <div class="col-sm-2">
                        Total Monitors: [[${totalMonitorItems}]]
                    </div>
                    <div class="col-sm-1">
                        <span th:each="i: ${#numbers.sequence(1, totalMonitorPages)}">
                            <a th:if="${monitorPage != i}" th:href="@{'/monitors/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                            <span th:unless="${monitorPage != i}">[[${i}]]</span>&nbsp;&nbsp;
                        </span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${monitorPage < totalMonitorPages}" th:href="@{'/monitors/page/' + ${monitorPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                        <span th:unless="${monitorPage < totalMonitorPages}">Next</span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${monitorPage < totalMonitorPages}" th:href="@{'/monitors/page/' + ${totalMonitorPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                        <span th:unless="${monitorPage < totalMonitorPages}">Last</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
