<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Computer Building Company - Customer Quote Fulfillment Form</title>
    </head>
    <body>
        <div class="container">
            <h1>Computer Building Company - Customer Quote Fulfillment Form</h1>
            <h2>Select a quote request and the appropriate parts for the computer build.</h2>
            <form th:object="${customerQuoteFulfillment}" th:action="@{/fulfillments/update_fulfillment}" method="POST">
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Computer Needs</th>
                            <th>Budget</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="customerQuoteRequest: ${customerQuoteRequests}">
                            <td><input type="radio" name="customerQuoteRequests" th:field="*{customerQuoteRequest.id}" th:value="${customerQuoteRequest.id}"></td>
                            <td th:text="${customerQuoteRequest.firstName}"></td>
                            <td th:text="${customerQuoteRequest.lastName}"></td>
                            <td th:text="${customerQuoteRequest.email}"></td>
                            <td th:text="${customerQuoteRequest.phoneNumber}"></td>
                            <td th:text="${customerQuoteRequest.computerNeedsDescription}"></td>
                            <td th:text="${customerQuoteRequest.budget}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Form Factor</th>
                            <th>Socket</th>
                            <th>Chipset</th>
                            <th>Memory Slots</th>
                            <th>PCI-E Slots</th>
                            <th>SATA Ports</th>
                            <th>M.2 Slots</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="motherboard: ${motherboards}">
                            <td><input type="radio" name="motherboards" th:field="*{motherboard.id}" th:value="${motherboard.id}"></td>
                            <td th:text="${motherboard.name}"></td>
                            <td th:text="${motherboard.formFactor}"></td>
                            <td th:text="${motherboard.socket}"></td>
                            <td th:text="${motherboard.chipset}"></td>
                            <td th:text="${motherboard.memorySlots}"></td>
                            <td th:text="${motherboard.pcieSlots}"></td>
                            <td th:text="${motherboard.sataPorts}"></td>
                            <td th:text="${motherboard.m2Slots}"></td>
                            <td th:text="${motherboard.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>CPU Socket</th>
                            <th>Core Count</th>
                            <th>Thread Count</th>
                            <th>CPU Speed</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cPU: ${cPUS}">
                            <td><input type="radio" name="cPUS" th:field="*{cPU.id}" th:value="${cPU.id}"></td>
                            <td th:text="${cPU.name}"></td>
                            <td th:text="${cPU.brand}"></td>
                            <td th:text="${cPU.cPUSocket}"></td>
                            <td th:text="${cPU.coreCount}"></td>
                            <td th:text="${cPU.threadCount}"></td>
                            <td th:text="${cPU.cPUSpeed}"></td>
                            <td th:text="${cPU.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Generation</th>
                            <th>Speed</th>
                            <th>Capacity</th>
                            <th>Sticks</th>
                            <th>Latency</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rAM: ${rAM}">
                            <td><input type="radio" name="rAM" th:field="*{rAM.id}" th:value="${rAM.id}"></td>
                            <td th:text="${rAM.name}"></td>
                            <td th:text="${rAM.generation}"></td>
                            <td th:text="${rAM.speed}"></td>
                            <td th:text="${rAM.capacity}"></td>
                            <td th:text="${rAM.sticks}"></td>
                            <td th:text="${rAM.latency}"></td>
                            <td th:text="${rAM.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <table border="1" class="table table-striped table-responsive-md">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Memory Type</th>
                            <th>Video Memory</th>
                            <th>PCIE Express</th>
                            <th>Clock Speed</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="gPU: ${gPUS}">
                            <td><input type="radio" name="gPUS" th:field="*{gPU.id}" th:value="${gPU.id}"></td>
                            <td th:text="${gPU.name}"></td>
                            <td th:text="${gPU.brand}"></td>
                            <td th:text="${gPU.memoryType}"></td>
                            <td th:text="${gPU.videoMemory}"></td>
                            <td th:text="${gPU.pcieExpress}"></td>
                            <td th:text="${gPU.clockSpeed}"></td>
                            <td th:text="${gPU.price}"></td>
                        </tr>
                    </tbody>
                </table>
                <input class="form-control mb-4 col-4" type="text" name="totalCost" placeholder="Total Cost" size="8" th:field="*{totalCost}">
                <button class="btn btn-info col-2" type="submit">Submit Quote Fulfillment</button>
            </form>
            <a th:href="@{/fulfillments}">View Current Quote Fulfillments</a>
        </div>
    </body>
</html>