<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Computer Building Company - PSU List</title>
    </head>
    <body>
        <div class="container-fluid my-2">
            <h1>PSUs</h1>
            <a th:href="@{/}" class="btn btn-outline-primary btn-sm mb-3">View quote requests</a>
            <a th:href="@{/motherboards}" class="btn btn-outline-secondary btn-sm mb-3">Motherboards</a>
            <a th:href="@{/cpus}" class="btn btn-outline-secondary btn-sm mb-3">CPUs</a>
            <a th:href="@{/ram}" class="btn btn-outline-secondary btn-sm mb-3">RAM</a>
            <a th:href="@{/gpus}" class="btn btn-outline-secondary btn-sm mb-3">GPUs</a>
            <a th:href="@{/thermal_compounds}" class="btn btn-outline-secondary btn-sm mb-3">Thermal Compounds</a>
            <a th:href="@{/storage_devices}" class="btn btn-outline-secondary btn-sm mb-3">Storage Devices</a>
            <a th:href="@{/psus/add_psu}" class="btn btn-secondary btn-sm mb-3">Add a PSU</a>
            <a th:href="@{/monitors}" class="btn btn-outline-secondary btn-sm mb-3">Monitors</a>
            <a th:href="@{/keyboards}" class="btn btn-outline-secondary btn-sm mb-3">Keyboards</a>
            <a th:href="@{/fulfillments}" class="btn btn-outline-primary btn-sm mb-3">View quote fulfillments</a>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>
                            <a th:href="@{'/psus/page/' + ${pSUPage} + '?sortField=id&sortDirection=' + ${reverseSortDirection}}">ID</a>
                        </th>
                        <th>
                            <a th:href="@{'/psus/page/' + ${pSUPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}">Name</a>
                        </th>
                        <th>
                            <a th:href="@{'/psus/page/' + ${pSUPage} + '?sortField=brand&sortDirection=' + ${reverseSortDirection}}">Brand</a>
                        </th>
                        <th>
                            <a th:href="@{'/psus/page/' + ${pSUPage} + '?sortField=formFactor&sortDirection=' + ${reverseSortDirection}}">Form Factor</a>
                        </th>
                        <th>
                            <a th:href="@{'/psus/page/' + ${pSUPage} + '?sortField=modular&sortDirection=' + ${reverseSortDirection}}">Modular</a>
                        </th>
                        <th>
                            <a th:href="@{'/psus/page/' + ${pSUPage} + '?sortField=efficiencyRating&sortDirection=' + ${reverseSortDirection}}">Efficiency Rating</a>
                        </th>
                        <th>
                            <a th:href="@{'/psus/page/' + ${pSUPage} + '?sortField=wattage&sortDirection=' + ${reverseSortDirection}}">Wattage</a>
                        </th>
                        <th>
                            <a th:href="@{'/psus/page/' + ${pSUPage} + '?sortField=price&sortDirection=' + ${reverseSortDirection}}">Price</a>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pSU: ${pSUs}">
                        <td th:text="${pSU.id}"></td>
                        <td th:text="${pSU.name}"></td>
                        <td th:text="${pSU.brand}"></td>
                        <td th:text="${pSU.formFactor}"></td>
                        <td th:text="${pSU.modular}"></td>
                        <td th:text="${pSU.efficiencyRating}"></td>
                        <td th:text="${pSU.wattage}"></td>
                        <td th:text="${pSU.price}"></td>
                        <td>
                            <a th:href="@{/psus/edit_psu/{id}(id=${pSU.id})}" class="btn btn-primary">Edit</a>
                            <a th:href="@{/psus/delete_psu/{id}(id=${pSU.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${totalPSUPages > 1}">
                <div class="row col-sm-10">
                    <div class="col-sm-2">
                        Total PSUs: [[${totalPSUItems}]]
                    </div>
                    <div class="col-sm-1">
                        <span th:each="i: ${#numbers.sequence(1, totalPSUPages)}">
                            <a th:if="${pSUPage != i}" th:href="@{'/psus/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                            <span th:unless="${pSUPage != i}">[[${i}]]</span>&nbsp;&nbsp;
                        </span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${pSUPage < totalPSUPages}" th:href="@{'/psus/page/' + ${pSUPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                        <span th:unless="${pSUPage < totalPSUPages}">Next</span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${pSUPage < totalPSUPages}" th:href="@{'/psus/page/' + ${totalPSUPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                        <span th:unless="${pSUPage < totalPSUPages}">Last</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
